:root {
  // colors
  --white: #ffffff;
  --gray-300: #626262;
  --gray-400: #1B1A1F;
  --gray-700: #151419;
  --gray-800: #111013;
  --black: #000000;
  --blue-dark: #3C59F0;

  // abstract colors
  --primary: var(--blue-dark);
  --secondary: var(--gray-700);
  --light: var(--gray-300);
  --dark: var(--gray-800);

  // animation
  --animation-time: .2s;
}